[submodule "config/awesome/config/awesome/copycats"]
	path = config/awesome/config/awesome/copycats
	url = https://github.com/lcpz/awesome-copycats.git
[submodule "config/awesome/copycats"]
	path = config/awesome/copycats
	url = https://github.com/lcpz/awesome-copycats.git
[submodule "config/awesome/my/awesome-switcher"]
	path = config/awesome/my/awesome-switcher
	url = https://github.com/berlam/awesome-switcher.git
[submodule "config/awesome/my/awesome-wm-widgets"]
	path = config/awesome/my/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets.git
