config/emacs.d/elpa/
config/emacs.d/private/
config/emacs.d/.custom.el
config/emacs.d/smex-items

xmonad-x86_64-linux
xmonad.errors
xmonad.hi
xmonad.o

.stack*
*-master
*.zip
*.bzip2
*.xz
*.gz
*.tgz
.uuid

autoload/
plugged/
session/

*.log
*.obj
