<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">


	<menu id="root-menu" label="Openbox 3">
		<menu id="app-menu" label="Apps">
			<item label="Find">
				<action name="Execute">
					<command>dmenu_run</command>
				</action>
			</item>
		</menu>
		<menu id="system-menu" label="System">
			<item label="Manage Cups Printers">
				<action name="Execute">
					<command>xdg-open http://localhost:631/</command>
					<startupnotify>
						<enabled>no</enabled>
						<icon>cups</icon>
					</startupnotify>
				</action>
			</item>
			<separator />
			<item label="Reconfigure Openbox">
				<action name="Reconfigure" />
			</item>
		</menu>
		<menu id="exit-menu" label="Exit">
			<item label="Log Out">
				<action name="Execute">
					<command>openbox --exit</command>
				</action>
			</item>
			<item label="Shutdown">
				<action name="Execute">
					<command>systemctl poweroff</command>
				</action>
			</item>
			<item label="Restart">
				<action name="Execute">
					<command>systemctl reboot</command>
				</action>
			</item>
			<item label="Suspend">
				<action name="Execute">
					<command>systemctl suspend</command>
				</action>
			</item>
			<item label="Hibernate">
				<action name="Execute">
					<command>systemctl hibernate</command>
				</action>
			</item>
		</menu>
	</menu>

</openbox_menu>
