#include "__home/scripts/config/colors-terminal.sexy-4"

#define FONT 	 xft:dejavu sans book:size=9
#define FONTMONO xft:dejavu sans mono:size=9:style=Book

!global Font
*font:         FONT

!xft
Xft.dpi:       96
Xft.antialias: true
Xft.hinting:   true
Xft.autohint:  false
Xft.hintstyle: hintslight
Xft.rgba:      none
Xft.lcdfilter: lcddefault

!emacs
!emacs.fontBackend: 
emacs.bitmapIcon: on
emacs.font: FONTMONO
emacs.geometry: 90x25

!dunst
dunst.font: FONT

!xterm
xterm*faceName: FONTMONO

!urxvt
URxvt.depth: 32
URxvt.background: [88]#000000
URxvt*scrollBar: false
URxvt*font: FONTMONO
URxvt*buffered: true
URxvt.lineSpace: 0
URxvt.letterSpace: 0
!URxvt*iconFile: /usr/share/icons/HighContrast/32x32/apps/utilities-terminal.png
URxvt*iconFile: /usr/share/icons/Adwaita/32x32/apps/utilities-terminal.png
!URxvt*shading: 0 to 99 darkens, 101 to 200 lightens
URxvt*shading: 110
URxvt.geometry: 96x24
URxvt.urlLauncher: firefox
URxvt.underlineURLs: true
URxvt.urlButton: 1



TVim*iconFile:  /usr/share/icons/HighContrast/32x32/apps/utilities-terminal.png
