#include "__home/.config/xresources.d/colors-terminal.sexy-4"

#define FONT 	 xft:dejavu sans book:size=9
#define FONTMONO xft:dejavu sans mono:size=9:style=Book

!global Font
*font:         FONT

!xft
Xft.dpi:       96
Xft.antialias: true
Xft.hinting:   true
Xft.autohint:  false
Xft.hintstyle: hintslight
Xft.rgba:      none
Xft.lcdfilter: lcddefault

!emacs
!emacs.fontBackend: 
emacs.bitmapIcon: on
emacs.font: FONTMONO
emacs.geometry: 90x25

!dunst
dunst.font: FONT

!xterm
xterm*faceName: FONTMONO

!urxvt
URxvt.depth: 24
URxvt*transparent: false
URxvt.background: #000000
URxvt*foreground: #cabaaa
URxvt*scrollBar: false
URxvt*font: FONTMONO
URxvt*buffered: false
URxvt.lineSpace: 0
URxvt.letterSpace: 0
URxvt*borderless: 1
URxvt*underlineColor: pink
URxvt*colorUL: pink
URxvt*iconFile: __home/.icons/terminal.png 
URxvt.geometry: 96x24
URxvt*skipBuiltinGlyphs: true
URxvt.urgentOnBell: false
URxvt.visualBell: false
URxvt.iso14755: false
