[Desktop Entry]
Type=Application
Exec=sh -c "sleep 1; light-locker --lock-on-suspend --lock-on-lid; xautolock \
	 -time 3 -locker "~/scripts/sys_ctl/ctl.lua fun scr_lock_if" \
	 -killtime 10 -killer "notify-send -u critical -t 10000 -- 'Killing system ...'" \
	 -notify 30 -notifier "notify-send -u critical -t 10000 -- 'Locking system ETA 30s ...'""
Name=Light Locker & Xautolock
Comment=Autostart Light locker and xAutolock at login
